<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31139750084-1hccdbl86o0v6e83jf9k0hvog8la9k5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31139750084-1hccdbl86o0v6e83jf9k0hvog8la9k5j</string>
	<key>API_KEY</key>
	<string>AIzaSyChViGVjkELGRIC1qVlL7mvnpyfv8y-KSU</string>
	<key>GCM_SENDER_ID</key>
	<string>31139750084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mituartel.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-6f141</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-6f141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31139750084:ios:bc9cb88774ed7194b0e991</string>
</dict>
</plist>